version: '3'
services:

#  api:
#    env_file: .env
#    container_name: flask_app
#    build: .
#    ports:
#      - ${APP_PORT}:${APP_PORT}
#    depends_on:
#      - db

  db:
    env_file: .env
    container_name: flask_postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres-data:/var/lib/postgresql
    ports:
      - 5432:${POSTGRES_PORT}

  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - db
